{% extends "layout.html" %}

{% block pageTitle %}
DfE Sign-in
{% endblock %}

{% set serviceName %}
DfE Sign-in
{% endset%}

{% block beforeContent %}
{% include "includes/AO-phase-banner-plain.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <!-- MAIN HEADING -->
        <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">
                Create password
            </h1>
        </div>

        <form class="form" action="/1-5/Verification/registration-complete" method="post">
            <p class="govuk-body-l">
                Enter a new password for your DfE Sign-in account.
            </p>

            <div class="govuk-form-group">
                <label class="govuk-label" for="password-one">
                    Password
                </label>
                <span id="event-name-hint" class="govuk-hint">
                    Your password needs to be a minimum of 12 characters.
                </span>
                <input class="govuk-input govuk-!-width-one-half" id="password-one" name="password-one" type="password">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="password-one">
                    Confirm password
                </label>

                <input class="govuk-input govuk-!-width-one-half" id="password-one" name="password-one" type="password">
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-form-group">
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Having problems?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    If you are still having problems using the DfE Sign-in service, follow the link to
                    <a href="ao-dfe-help">submit a support request</a>.

                </div>
            </details>
        </div>
    </div>
</div>

{% endblock %}