{% extends "layout.html" %}

{% block pageTitle %}
DfE Sign-in
{% endblock %}

{% set serviceName %}
DfE Sign-in
{% endset%}

{% set serviceName %}
DfE Sign-in
{% endset%}

{% block beforeContent %}
{% include "includes/AO-phase-banner-plain.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- MAIN HEADING -->
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #28a197;">
            <h1 class="govuk-panel__title">
                Registration complete
            </h1>
            <div class="govuk-panel__body-xl">
                Your DfE Sign-in account is now ready to use. You'll 
                need your email address and the password you just 
                set up.
            </div>
        </div>

        <form class="form" action="/1-5/Verification/sign-in" method="post">
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Return to DfE Sign-in
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}