{% extends "layout.html" %}

{% block pageTitle %}
Awarding organisations: results and certifications for ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<!-- 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../Verification/sign-in-2" class="govuk-back-link">Back</a>
    </div>
</div>
-->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% include "includes/AO-subheading.html" %}

        <!-- MAIN HEADING -->
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                Manage your T Levels
            </h1>
        </div>

        <!-- OUTSTANDING TASKS -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">
                    You have 1 incomplete task:
                </h2>
                <p class="govuk-body">
                    <a href="ao-t-levels" class="govuk-link">Confirm your course details</a>
                    <strong class="govuk-tag" style="background-color: #d4351c;">
                        Overdue
                    </strong>
                </p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <!-- BLOCK 1 T Levels -->
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group" name="hub-choice-3"
                    style="border-top-width: 1px; border-top-style: solid; border-top-color: #B1B4B6; padding-top: 10px;">
                    <h2 class="govuk-heading-l">
                        <a href="ao-t-levels" class="govuk-link--no-visited-state">
                            Courses
                        </a>
                    </h2>
                    <p class="govuk-body">
                        Total number of your T Levels
                    </p>
                </div>
            </div>

            <!-- BLOCK 2 - Centres -->
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group" name="hub-choice-2"
                    style="border-top-width: 1px; border-top-style: solid; border-top-color: #B1B4B6; padding-top: 10px;">
                    <h2 class="govuk-heading-l">
                        <a href="action-ao-providers" class="govuk-link--no-visited-state">
                            Learning providers
                        </a>
                    </h2>
                    <p class="govuk-body">
                        Total number of learning providers currently running your T Levels
                    </p>
                </div>
            </div>

            <!-- BLOCK 3 Learners -->
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group" name="hub-choice-3"
                    style="border-top-width: 1px; border-top-style: solid; border-top-color: #B1B4B6; padding-top: 10px;">
                    <h2 class="govuk-heading-l">
                        <a href="action-ao-view-students" class="govuk-link--no-visited-state">
                            Learners
                        </a>
                    </h2>
                    <p class="govuk-body">
                        Total number of learners currently learning your T Levels
                    </p>
                </div>
            </div>
        </div>

        <!-- NEXT ROW - NUMBERS FOR DASHBOARD -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <span class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold">
                    {{ data['tLevels-ao'].length }}
                </span>
            </div>
            <div class="govuk-grid-column-one-third">
                <span class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold">
                    {{ data['providers'].length }}
                </span>
            </div>
            <div class="govuk-grid-column-one-third">
                <span class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold">
                    {{ data['students-ao'].length }}
                </span>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
</div>

{% endblock %}



