{% extends "layout.html" %}

{% block pageTitle %}
View students: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="ao-admin-accounts" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            View account details
        </h1>

        <div class="govuk-form-group">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Name
                        </th>
                        <td scope="row" class="govuk-table__cell">
                            Blob
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}