{% extends "layout.html" %}

{% block pageTitle %}
View learners: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="hub" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            View learners
        </h1>

        <div class="govuk-form-group">
            <ul class="govuk-list">
                <li>
                    <a href="ao-add-students#bulk">
                        Add new learners
                    </a>
                </li>
            </ul>
        </div>

        <div class="govuk-form-group">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Name
                            <br />Or just ULN?
                        </th>
                        <th scope="col" class="govuk-table__header">
                            ULN
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Provider
                            <br />Or just UKPRN
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Route and pathway
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for student in data['students'] %}
                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                            <a href="action-ao-views-student?uln={{student[0]}}">
                                {{ student[1]}} {{ student[2] }}
                            </a>
                        </td>
                        <td scope="row" class="govuk-table__cell">
                            {{ student[0] }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ student[11] }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ student[13] }}: {{ student[14] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}