{% extends "layout.html" %}

{% block pageTitle %}
Your T Levels: ESFA
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="hub" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Add centres
        </h1>

        <div class="govuk-form-group">
            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    {% if data['add-providers-type'] == 'bulk' %}
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        {% else %}
                    <li class="govuk-tabs__list-item govuk-tabs__list-item">
                        {% endif %}
                        <a class="govuk-tabs__tab" href="#bulk">
                            Add centres in bulk
                        </a>
                    </li>
                    {% if data['add-providers-type'] != 'bulk' %}
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        {% else %}
                    <li class="govuk-tabs__list-item govuk-tabs__list-item">
                        {% endif %}
                        <a class="govuk-tabs__tab" href="#single">
                            Add centres by hand
                        </a>
                    </li>
                </ul>

                <section class="govuk-tabs__panel" id="bulk">
                    <form method="post" action="ao-upload-providers-bulk">
                        <div class="govuk-form-group">
                            <p class="govuk-body">
                                You can upload a comma separated file of centres. Here's more information about
                                the file format.
                            </p>
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="file-upload-1">
                                Upload a CSV file
                            </label>
                            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                        </div>
                        <div class="govuk-form-group">
                            <!-- from here, the file is processed and re-displayed to the user for acceptance -->
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Upload
                            </button>
                        </div>
                    </form>
                </section>

                <section class="govuk-tabs__panel" id="single">
                    <form method="post" action="ao-add-providers-2">

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="event-name">
                                What is the centre's UKPRN?
                            </label>

                            <input class="govuk-input" id="provider-id" name="provider-id" type="text"
                            value="{{ data['provider-id'] }}">
                        </div>

                        <div class="govuk-form-group">
                            <!-- from here, the data are processed and re-displayed to the user for acceptance -->
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Next
                            </button>
                        </div>
                    </form>
                </section>

            </div>
        </div>



    </div>
</div>

{% endblock %}