{% extends "layout.html" %}

{% block pageTitle %}
Add provider: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="ao-new-provider-add-03" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- SUBHEADING -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Check your answers before saving this centre
        </h1>

        <div class="govuk-form-group">
            <form method="post" action="action-add-centre-single-03">

            </form>
        </div>

        <div class="govuk-form-group">
            <!-- from here, the data are processed and re-displayed to the user for acceptance -->
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </div>
        </form>


    </div>
</div>
</div>

{% endblock %}