{% extends "layout.html" %}

{% block pageTitle %}
View learners: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="hub" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            What do you need to do?
        </h1>

        <form method="post" action="action-students-question-next">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="learner-question-1" name="learner-question"
                                type="radio" value="add">
                            <label class="govuk-label govuk-radios__label" for="learner-question">
                                Add a new learner
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="learner-question-2" name="learner-question"
                                type="radio" value="edit">
                            <label class="govuk-label govuk-radios__label" for="learner-question-2">
                                Edit or view an existing learner's details
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="learner-question-3" name="learner-question"
                                type="radio" value="delete">
                            <label class="govuk-label govuk-radios__label" for="learner-question-3">
                                Delete a learner
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>

        </form>

    </div>
</div>

{% endblock %}