{% extends "layout.html" %}

{% block pageTitle %}
View learners: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="ao-view-student" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            View learner's details
        </h1>

        <div class="govuk-form-group">

            <!-- KEY DETAILS (NAME/ULN, PROVIDER/UKPRN, DATES) -->
            <table class="govuk-table">
                <caption class="govuk-table__caption">Key details</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Name (ULN)
                        </th>
                        <td class="govuk-table__cell">
                            {{ data['student'][1]}} {{ data['student'][2] }} ({{ data['student'][0] }})
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Provider (UKPRN)
                        </th>
                        <td class="govuk-table__cell">
                            {{ data['student'][11] }} ({{ data['student'][10] }})
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Course dates
                        </th>
                        <td class="govuk-table__cell">
                            {{ data['student'][16] }} - {{ data['student'][16] | int + 2 }}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Current status
                        </th>
                        <td class="govuk-table__cell">
                            {{ data['student'][12] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- SCORES - CORE COMPONENT, SPECIALISMS, MARS, IP, ENGLISH, MATHS -->
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <table class="govuk-table">
                <caption class="govuk-table__caption">T Level scores</caption>
                <thead class="govuk-table__head">
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Overall score
                        </th>
                        <td class="govuk-table__cell">
                        </td>
                        <td class="govuk-table__cell">
                            Not yet calculated
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Route and pathway
                        </th>
                        <td class="govuk-table__cell">
                            {% if data['student'][13] === 't01' %}
                            Construction: {{ data['student'][14] }}
                            {% elif data['student'][13] === 't02' %}
                            Education & Childcare: {{ data['student'][14] }}
                            {% elif data['student'][13] === 't03' %}
                            Digital: {{ data['student'][14] }}
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">
                            {% if data['student'][21] != '' %}
                            {{ data['student'][21] }}
                            {% else %}
                            Not taken
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Specialism(s)
                        </th>
                        <td class="govuk-table__cell">
                            {{ data['student'][15] }}
                        </td>
                        <td class="govuk-table__cell">
                            {% if data['student'][22] == 'Pass' %}
                            Passed
                            {% elif data['student'][22] == '' %}
                            Not taken
                            {% else %}
                            Not passed
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">
                            MAR(s)
                        </td>
                        <td class="govuk-table__cell">
                            Health and Safety certificate
                        </td>
                        <td class="govuk-table__cell">
                            {% if data['student'][24] == 'Pass' %}
                            Completed
                            {% elif data['student'][24] == '' %}
                            Not completed
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Industrial placement
                        </th>
                        <td class="govuk-table__cell">
                            Employer?
                        </td>
                        <td class="govuk-table__cell">
                            {% if data['student'][25] == '' %}
                            Not completed
                            Completed
                            {% elif data['student'][25] == 'Pass' %}
                            Passed
                            {% else %}
                            Passed with special consideration
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            English
                        </th>
                        <td class="govuk-table__cell">

                        </td>
                        <td class="govuk-table__cell">
                            {% if data['student'][26] == 'Pass' %}
                            Passed
                            {% elif data['student'][26] == '' %}
                            Not taken
                            {% else %}
                            Failed
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Maths
                        </th>
                        <td class="govuk-table__cell">

                        </td>
                        <td class="govuk-table__cell">
                            {% if data['student'][27] == 'Pass' %}
                            Passed
                            {% elif data['student'][27] == '' %}
                            Not taken
                            {% else %}
                            Failed
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- C2A FOR EDIT? -->
            <form method="post" action="#">
                <button class="govuk-button" data-module="govuk-button" style="margin-right: 5px;" name="delete-service"
                    value="delete">
                    Add scores
                </button>
            </form>

        </div>

    </div>
</div>

{% endblock %}