{% extends "layout.html" %}

{% block pageTitle %}
View students: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="ao-add-student-single-02" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            What T Level will this student do?
        </h1>

        <div class="govuk-form-group">

            <form method="post" action="ao-add-student-single-check">
                <!--ao-preview-provider-single-records">-->

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios">
                            {% for tLevel in data['ao-tLevels'] %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="student-tlevel" name="student-tlevel"
                                    type="radio" value="{{ tLevel[0] }}: {{ tLevel[1] }}">
                                <label class="govuk-label govuk-radios__label" for="student-tlevel-{{ tLevel[0] }}: {{ tLevel[1] }}">
                                        {{ tLevel[0] }}: {{ tLevel[1] }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <!-- from here, the data are processed and re-displayed to the user for acceptance -->
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Next
                    </button>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}