{% extends "layout.html" %}

{% block pageTitle %}
DfE Sign-in help
{% endblock %}

{% set serviceName %}
Forgotten your password
{% endset%}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="ao-sign-in" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Forgotten your password?
        </h1>
        <p class="govuk-body-l">
            Enter the email address you have registered for DfE Sign-in.
        </p>

        <form class="form" action="/1-0/AO/hub" method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group" name="choice-1">
                    <label class="govuk-label" for="Signin-username">
                        Email address
                    </label>
                    <input class="govuk-input" id="Signin-username" name="Signin-username" type="text">
                </div>

                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </form>
        <div class="govuk-form-group">
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Having problems?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    If you are having problems using the DfE Sign-in service, follow
                    <a href="ao-dfe-help">DfE Sign-in Help</a>.
                    You will be able to request further assistance if required.
                </div>
            </details>
        </div>

    </div>
</div>
{% endblock %}