{% extends "layout.html" %}

{% block pageTitle %}
Your T Levels: ESFA
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="hub" class="govuk-back-link">Back</a>
    </div>
</div>

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column">
        <h1 class="govuk-heading-xl">
            Your T Levels
        </h1>

        <div class="govuk-form-group">
            <table class="govuk-table">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">
                                Year
                            </th>
                            <th scope="col" class="govuk-table__header">
                                Route
                            </th>
                            <th scope="col" class="govuk-table__header">
                                Pathway
                            </th>
                            <th scope="col" class="govuk-table__header">
                                Specialism(s)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <!-- Can show only those relevant to the AO here -->
                        {% for tLevel in data['tLevels'] %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {{ tLevel.StartYear }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ tLevel['Route'] }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ tLevel['Pathway'] }}
                            </td>
                            <td class="govuk-table__cell">
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        Surveying and design for construction and the built environment
                                    </li>
                                    <li>
                                        Civil engineering
                                    </li>
                                    <li>
                                        Building services design
                                    </li>
                                    <li>
                                        Hazardous materials analysis and surveying.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </table>
        </div>



    </div>
</div>

{% endblock %}