{% extends "layout.html" %}

{% block pageTitle %}
View students: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="ao-view-students" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            View student details
        </h1>

        <div class="govuk-form-group">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                            Name
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Started
                        </th>
                        <th scope="col" class="govuk-table__header">
                            UKPRN
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Route and pathway
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">
                            <a href="action-ao-views-student">
                            </a>
                        </td>
                        <td class="govuk-table__cell">
                        </td>
                        <td scope="row" class="govuk-table__cell">
                        </td>
                        <td class="govuk-table__cell">
                        </td>
                        <td class="govuk-table__cell">
                            <a href="#">
                                Assessment scores needed
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- BLOCK 1 – T Levels -->
        <div class="govuk-form-group">
            <p class="govuk-body">
                View a list of students enrolled on your T Levels here.
            </p>
            {% if data['staff-role'] == "admin" %}
            <p class="govuk-body">
                As an administrator, you can also edit and delete students.
            </p>
            {% endif %}
        </div>


    </div>
</div>

{% endblock %}