{% extends "layout.html" %}

{% block pageTitle %}
Awarding organisations: results and certifications for ESFA T Levels
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            T Levels
        </h1>

        <!-- BLOCK 1 – T Levels -->
        <div class="govuk-form-group">
            <h2 class="govuk-heading-m">
                Your T Levels
            </h2>
            <div class="govuk-body">
                <span class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold">
                    2
                </span>
                <span class="gobuk-body govuk-!-font-weight-bold">
                    T Levels currently running.
                </span>
            </div>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-t-levels">
                        View your organisation's T Levels
                    </a>
                </li>
            </ul>
            {% if data['staff-role'] == 'admin' %}
            <!-- Unsure if admin can do anything else with the T Levels information? -->
            {% endif %}
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- BLOCK 2 – Providers -->
        <div class="govuk-form-group" name="hub-choice-2">
            <h2 class="govuk-heading-m">
                Your providers
            </h2>
            <p class="govuk-body">
                <span class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold">
                    23
                </span>
                <span class="gobuk-body govuk-!-font-weight-bold">
                    providers registered to deliver your T Levels
                </span>
            </p>
            {% if data['staff-role'] == 'admin' %}
            <ul class="govuk-list">
                <p class="govuk-body">
                    You can view the providers who are running your organisation's T Levels and you can edit or delete
                    them.
                    You can also add new ones.
                </p>
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-providers">
                        View, edit or delete providers of your organisation's T Level(s)
                    </a>
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="add-providers#bulk">
                        Add providers of your organisation's T Level(s) in bulk
                    </a>
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="add-providers#single">
                        Add providers of your organisation's T Level(s) by hand
                    </a>
                </li>
            </ul>
            {% else %}
            <p class="govuk-body">
                You can view the providers who are running your organisation's T Levels but not edit, delete them or add
                new ones.
            </p>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-providers">
                        View the providers of your organisation's T Levels
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- BLOCK 3 Students -->
        <div class="govuk-form-group" name="hub-choice-3">
            <h2 class="govuk-heading-m">
                Your Students
            </h2>
            <p class="govuk-body">
                <span class="govuk-body govuk-!-font-size-80 govuk-body govuk-!-font-weight-bold">
                    134
                </span>
                <span class="gobuk-body govuk-!-font-weight-bold">
                    students enrolled on your organisation's T Levels
                </span>
            </p>
            {% if data['staff-role'] == 'admin' %}
            <p class="govuk-body">
                You can view the students enrolled on your organisation's T Levels and you can edit or delete them.
                You can also add new ones and enter students' assessments.
            </p>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-view-students">
                        View, edit or delete students on your organisation's T Level(s)
                    </a>
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-add-students#bulk">
                        Add students of your organisation's T Level(s) in bulk
                    </a>
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-add-students#single">
                        Add students of your organisation's T Level(s) one by one
                    </a>
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-add-assessments">
                        Enter student assessments
                    </a>
                </li>
            </ul>
            {% else %}
            <p class="govuk-body">
                You can view the students enrolled on your organisation's T Levels but not edit, delete them or add
                new ones. You can add students' assessments.
            </p>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-view-students">
                        View the students of your organisation's T Levels
                    </a> (including a record of their scores)
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-add-assessments">
                        Enter student assessments
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- BLOCK 4 – Certificates and statements of achievement -->
        <div class="govuk-form-group" name="hub-choice-4">
            <h2 class="govuk-heading-m">
                Certificates and statements of achievement
            </h2>
            <p class="govuk-body">
                You can request prints or re-prints of certificates for students who have finished their course. You can
                also request statements of achievement for students who have not completed their course.
            </p>

            <ul class="govuk-list">
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-certificates-soas">
                        Request certificates or statements of achievement
                    </a>
                </li>
            </ul>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- BLOCK 5 - account administration -->
        <div class="govuk-form-group" name="hub-choice-5">
            <h2 class="govuk-heading-m">
                About this account
            </h2>
            {% if data['staff-role'] == 'admin' %}
            <p class="govuk-body">
                You can manage who in your organisation can access these pages. This includes setting people up,
                deleting them, changing their details and editing what changes they can make.
            </p>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link--no-visited-state" href="view-organisation-details">
                        View or edit the details for your organisation
                    </a>
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-admin-accounts">
                        View, edit or delete accounts for your organisation
                    </a>
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-add-accounts#bulk">
                        Add accounts for your organisation's in bulk
                    </a>
                </li>
                <li>
                    <a class="govuk-link--no-visited-state" href="ao-add-accounts#single">
                        Add accounts for your organisation one by one
                    </a>
                </li>
            </ul>
            {% else %}
            <p class="govuk-body">
                You can change your own details here.
            </p>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link--no-visited-state" href="#">
                        View the accounts for your organisation
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}