{% extends "layout.html" %}

{% block pageTitle %}
Your T Levels: ESFA
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="../AO/hub" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Privacy
        </h1>
        <h2 class="govuk-heading-m">
            How we use your personal information
        </h2>
        <div class="govuk-group">
            <p class="govuk-body">
                The Manage Apprenticeships service is run by the Education and
                Skills Funding Agency (ESFA), an executive agency of the
                Department for Education (DfE).
            </p>
            <p class="govuk-body">
                This privacy notice explains how we (DfE and ESFA) use your
                personal information.
            </p>
            <p class="govuk-body">
                For the purposes of relevant data protection legislation, DfE is the
                data controller for personal information it processes, so that it can
                carry out its functions.
            </p>
            <p class="govuk-body">
                Where you register on the service the personal information you give
                us will be used for administration and research purposes.
            </p>

            <h2 class="govuk-heading-m">
                How long we hold personal information
            </h2>
            <p class="govuk-body">
                We’ll retain the personal information for administration purposes only
                for as long as necessary. Personal data required for research
                purposes may be retained indefinitely.
            </p>

            <h2 class="govuk-heading-m">
                Who we share your personal information with
            </h2>
            <p class="govuk-body">
                We may share your information where the law allows it to enable the
                running of the manage apprenticeships service, or where we have a
                legal obligation to do so.
            </p>

        </div>


        <div class="govuk-group">
            <h2 class="govuk-heading-m">
                Your individual rights
            </h2>
            <p class="govuk-body">
                You have the right to:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    request a copy of personal information that we hold about you
                </li>
                <li>
                    request that we correct any wrong or incomplete personal information
                </li>
            </ul>

            <p class="govuk-body">
                You can access the information we hold on you by signing in to your
                account.
            </p>

        </div>

        <div class="govuk-group">
            <h2 class="govuk-heading-m">
                How to complain
            </h2>
            <p class="govuk-body">
                Contact us using our 
                <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen"
                    class="govuk-link">secure online contact form</a> or by writing to:
            </p>
            <ul class="govuk-list govuk-list">
                <li>
                    Ministerial and Public Communications Division
                </li>
                <li>
                    Department for Education
                </li>
                <li>
                    Piccadilly Gate Store Street
                </li>
                <li>
                    Manchester
                </li>
                <li>
                    M1 2WD
                </li>
            </ul>

            <p class="govuk-body">
                If you wish to contact the DfE’s data protection officer, please use the
secure online form or write to the address above.
            </p>

            <p class="govuk-body">
                You also have the right to complain to the <a href="https://ico.org.uk/make-a-complaint/" class="govuk-link">Information Commissioner’s
Office</a>.
            </p>

        </div>

        {% endblock %}