{% extends "layout.html" %}

{% block pageTitle %}
My services
{% endblock %}

{% set serviceName %}
DfE Sign-in
{% endset%}

{% block beforeContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-phase-banner" style="margin-top: 5px;">
            <span class="govuk-body" style="margin-right: 25px;">
                <a href=" ../Verification/my-services" class="govuk-link--no-visited-state">
                    Services
                </a>
            </span>
            <span class="govuk-body" style="margin-right: 25px;">
                <a href="../Verification/my-organisations" class="govuk-link--no-visited-state">
                    Organisations
                </a>
            </span>
            {% if data['staff-role'] == 'admin' %}
            <span class="govuk-body" style="margin-right: 25px;">
                <a href="../Verification/manage-users" class="govuk-link--no-visited-state">
                    Manage users
                </a>
            </span>
            {% endif %}
            <span class="govuk-body" style="float: right;">
                <a href="../Verification/sign-in" class="govuk-link--no-visited-state">
                    Sign out
                </a>
            </span>
            <span class="govuk-body" style="margin-right: 25px; float: right;">
                <a href="#" class="govuk-link--no-visited-state">
                    Help
                </a>
            </span>
            <span class="govuk-body"
                style="margin-right: 25px; padding-bottom: 7px; border-bottom-color: #1d70b8; border-bottom-width: 5px; border-bottom-style:solid; float: right;">
                <a href="../Verification/my-profile" class="govuk-link--no-visited-state">
                    Profile
                </a>
            </span>
        </div>
    </div>
</div>
<style>
    #main-content {
        padding-top: 20px;
    }
</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="profile-change-email" class="govuk-back-link" style="margin-top: 0px;">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-group">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
                data-module="govuk-error-summary" style="border-color: #003078;">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    Email confirmation sent
                </h2>
                <div class="govuk-error-summary__body">
                    We've sent an email to salmoni@gmail.com. Your new email address will not be saved until you have
                    completed
                    this confirmation step. <a href="#" class="govuk-email">Resend email</a>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Confirm your new email address
        </h1>

        <div class="govuk-group">
            <form method="post" action="action-my-profile">

                <p class="govuk-body-l">
                    Enter your verification code to confirm and save your new email address.
                </p>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="first-name">
                        Verification code
                    </label>
                    <input class="govuk-input govuk-!-width-one-quarter" id="first-name" name="first-name" type="text">
                </div>

                <button class="govuk-button" data-module="govuk-button" style="margin-right: 5px;" name="profile-email"
                    value="change">
                    Continue
                </button>
            </form>
        </div>

    </div>
    <div class="govuk-grid-column-one-third" style="margin-top: 20px;">
        <div class="govuk-group">
        </div>
    </div>
</div>

{% endblock %}