{% extends "layout.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service - Manage T Levels - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
          <p class="govuk-body">Try again later.</p>
          <p class="govuk-body">
            <a class="govuk-link" href="#">Contact the Manage T Levels team</a> if you need to manage your T Levels.
          </p>
        </div>
      </div>
    </main>
  </div>

{% endblock %}