{% extends "layout.html" %}

{% block pageTitle %}
Add assessment scores: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="hub" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% include "includes/AO-subheading.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Add assessment scores
        </h1>

        <!-- BLOCK 1 – T Levels -->
        <div class="govuk-form-group">
            <p class="govuk-body">
                In bulk by uploading a CSV file or singly by hand.
            </p>
        </div>


    </div>
</div>

{% endblock %}