{% extends "layout.html" %}

{% block pageTitle %}
View learners: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Addition complete
                </h1>
                <div class="govuk-panel__body">
                    Your learner has been added
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}