{% extends "layout.html" %}

{% block pageTitle %}
View learners: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="hub" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- SUBHEADING -->
<span class="govuk-caption-l">
    Question 1 of 4
</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            What is the learner's ULN?
        </h1>

        <div class="govuk-form-group">

            <form method="post" action="action-add-student-single-01">
                <!--ao-preview-provider-single-records">-->

                <div class="govuk-form-group">
                    <span id="uln-hint" class="govuk-hint">
                        For example, 10000001
                    </span>
                    <input class="govuk-input" id="student-uln" name="student-uln" type="text">
                </div>

                <div class="govuk-form-group">
                    <!-- from here, the data are processed and re-displayed to the user for acceptance -->
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}