{% extends "layout.html" %}

{% block pageTitle %}
Add provider: ESFA T Levels
{% endblock %}

{% block beforeContent %}
{% include "includes/AO-phase-banner.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="ao-new-provider-add-02" class="govuk-back-link">Back</a>
    </div>
</div>
{% endblock %}

{% block content %}

{% if data['errors'].length > 0 %}
<!-- ERROR BOX -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
            data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for error in data['errors'] %}
                    <li>
                        <a href="{{ error[0] }}">{{ error[1] }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- SUBHEADING -->
<span class="govuk-caption-l">
    Question 3 of 3
</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Which T Levels will this centre be running?
        </h1>

        <div class="govuk-form-group">
            <span id="uln-hint" class="govuk-hint">
                Select all that apply
            </span>

            <form method="post" action="action-add-centre-single-03">
                <!--ao-preview-provider-single-records">-->

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="TLevel-pathway">
                        <div class="govuk-checkboxes">

                            {% for tLevel in data['tLevels-ao'] %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input"
                                    id="select-tlevel-{{ tLevel[0] }}: {{ tLevel[1] }}" name="select-tLevel"
                                    type="checkbox" value="{{ tLevel[0] }}: {{ tLevel[1] }}"
                                    {{ checked("select-tLevel", "{{ tLevel[0] }}: {{ tLevel[1] }}") }}>
                                <label class="govuk-label govuk-checkboxes__label"
                                    for="select-tlevel-{{ tLevel[0] }}: {{ tLevel[1] }}">
                                    {{ tLevel[0] }}: {{ tLevel[1] }}
                                </label>
                            </div>
                            {% endfor %}

                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <!-- from here, the data are processed and re-displayed to the user for acceptance -->
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}