{% extends "layout.html" %}

{% block pageTitle %}
ESFA T Levels
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column">
        <h1 class="govuk-heading-xl">
            T Levels prototypes
        </h1>

        <div class="govuk-form-group">
            <table class="govuk-table">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Version</th>
                            <th scope="col" class="govuk-table__header">Changes</th>
                            <th scope="col" class="govuk-table__header">User</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">1.0</th>
                            <td class="govuk-table__cell">First prototype</td>
                            <td class="govuk-table__cell">
                                <a href="/1-0/AO/ao-sign-in">
                                    Awarding organisation (sign-in)
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </table>
        </div>



    </div>

    {% endblock %}