{% extends "layout.html" %}

{% block pageTitle %}
ESFA T Levels
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column">
        <h1 class="govuk-heading-xl">
            T Levels prototypes
        </h1>

        <div class="govuk-form-group">
            <p class="govuk-body">
                Below are prototypes for the ESFA's Results and Certification service. When signing in, use 'admin'
                as the user name to access approver (superuser/root) privileges.
            </p>
        </div>

        <div class="govuk-form-group">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Version</th>
                        <th scope="col" class="govuk-table__header">Date</th>
                        <th scope="col" class="govuk-table__header">Changes</th>
                        <th scope="col" class="govuk-table__header">User</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">1.2</th>
                        <td class="govuk-table__cell">
                            05 Nov 2019
                        </td>
                        <td class="govuk-table__cell">
                            Second round of testing
                        </td>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list--bullet">
                                <li>
                                    <a href="/1-2/Verification/google-home">
                                        Search process (Google)
                                    </a>
                                </li>
                                <li>
                                    <a href="/1-2/Verification/sign-in">
                                        Awarding organisation (sign-in)
                                    </a>
                                </li>
                                <li>
                                    <a href="/1-2/Verification/verify-confirm-email">
                                        Verify account
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">1.1</th>
                        <td class="govuk-table__cell">
                            19 Sept 2019
                        </td>
                        <td class="govuk-table__cell">
                            First AO usability testing:
                            <ul class="govuk-list--bullet">
                                <li>Content changes (e.g., provider to centre)</li>
                                <li>New 'hub' dashboard designs</li>
                                <li>Display UKPRN with AO name in page subheading</li>
                                <li>Include 'menu' in signed-in pages</li>
                                <li>Menu changes for admin users</li>
                                <li>Included back link to hub pages</li>
                                <li>Pagination for the list of students</li>
                                <li>Added 2021-2023 AOs (NCFE and City and Guilds)</li>
                                <li>AOs can verify T Levels</li>
                                <li>Full details + scores for learners</li>

                                <li>Many other trivial changes</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list--bullet">
                                <li>
                                    <a href="/1-1/Verification/sign-in">
                                        Awarding organisation (sign-in)
                                    </a>
                                </li>
                                <li>
                                    <a href="/1-1/Verification/verify-confirm-email">
                                        Verify account
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">1.0</th>
                        <td class="govuk-table__cell">
                            01 Sept 2019
                        </td>
                        <td class="govuk-table__cell">
                            First prototype
                        </td>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list--bullet">
                                <li>
                                    <a href="/1-0/AO/sign-in">
                                        Awarding organisation (sign-in)
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}